<div ng-controller="NoteDetailController" ng-init="getNoteById()" id="note-detail" ng-repeat="note in notes">
    <h2>Edit Note</h2>
    <p>Created on: {{note.CreateDate}}</p>

    <form>
        <div class="form-group" ng-repeat="note in notes">
            <label for="title">Title</label>
            <input ng-model="note.Title" type="text" class="form-control" id="title" placeholder="{{note.Title}}">
        </div>
        <div class="form-group" ng-repeat="note in notes">
            <label for="body">Note Body</label>
            <input ng-model="note.NoteBody" type="text" class="form-control" id="make">
        </div>
        <div class="row">
            <button ng-click="update()" class="btn btn-primary col-md-1">Save</button>
            <button ng-click="deleteNote(noteId)" class="btn btn-primary col-md-1">Delete</button>
            <button ng-click="navigateToNoteList()" class="btn btn-secondary col-md-1">Cancel</button>
        </div>
    </form>
</div>