<div ng-controller="NoteAddController" id="note-add">
    <h2>Create a note</h2>
    <form name="newNote" novalidate>
        <div class="form-group col-sm-4">
            <label for="inputStartDate">Date</label>
            <input ng-model="note.CreateDate" required type="date" class="form-control" id="inputStartDate" aria-describedby="startDate" placeholder="Start Date">
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="note.Title" type="text" class="form-control" id="note-title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="formControlTextarea">Add note:</label>
            <textarea ng-model="note.NoteBody" class="form-control" id="formControlTextarea" rows="10"></textarea>
        </div>
        <button ng-click="addNote()" class="btn btn-primary save-btn">Save</button>
        <button type="button" class="btn btn-warning" ng-click="navigateToNoteList()">Cancel</button>

    </form>
</div>